@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }

    header .container {
        align-items: center;
    }

    header nav a {
        font-size: 16px;
    }

    .main-movie .button {
        margin-top: 5px;
        width: 300px;
    }

    .main-movie .title-movie {
        font-size: 35px;
    }

    .main-movie .description {
        margin-top: 5px;
        margin-bottom: 15px;
        font-size: 17px;
    }

}

@media screen and (min-width: 1000px) {
    .main-movie .description {
        width: 50%;
    }
}
